version: '3.8'

services:
  redis:
    image: bitnami/redis:6.2.14-debian-11-r0
    container_name: redis
    env_file:
      - .env
    environment:
      - REDIS_PASSWORD=${QUEUE_SERVICE_REDIS_PASSWORD}
    ports:
      - 6379:6379
    expose:
      - 6379
    volumes:
      - redis_data:/bitnami/redis/data
    networks:
      - humf-service-network

  queue-service:
    build: ./
    image: queue-service:1.0
    container_name: queue-service
    env_file:
      - .env
    ports:
      - ${QUEUE_SERVICE_PORT}:${QUEUE_SERVICE_PORT}
    depends_on:
      - redis
    command: npm run start:dev
    networks:
      - humf-service-network

volumes:
  redis_data:
    external: false

networks:
  humf-service-network:
    name: humf-service-network